
.header {
    background-color: white;
}
.header_container {
   gap: 50px;
    padding: 10px;
    margin: 0 auto;
    max-width: 1400px;
}
.container {
    width: 100%;
    max-width: 1400px; /* Tương tự kích thước container của Bootstrap */
    padding: 15px; /* Padding bên trong container */
    margin: 0 auto; /* Căn giữa container */
}
.header_navbar {
    gap: 40px;
    flex: 0;
}
.header_logo {
    flex-basis: 243px;
}
.header_search {
    width: 461px;
}
.header_search-box {
    align-items: center;
}
.header_search-input {
    width: 330px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 30px 0px 0px 30px;
}
.header_search-btn {
    width: 100px;
    padding: 15px 15px;
    border: none;
    border-radius: 0px 30px 30px 0px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.header_popular-search {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.header_popular-search-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
}
.header_popular-section {
    display: flex;
    gap: 5px;
   
}
.header_popular-item {
    font-size: 10px;
    border-radius: 25px 25px 25px 25px;
    border: 0px;
}

.header_infomation {
    display: flex;
    gap: 30px;
}
.header_hotline {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_hotline-icon {
    color: blue;
}
.header_hotline-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.header_system-branch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_system-branch-icon {
    color: blue;
}
.header_system-branch-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.header_utilities {
    display:flex;
    gap: 10px;
    align-items: center;
}
.header_Notification {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ddecff;
    color: #006df0;
    border: 0;
    font-size: 20px;
}
.header_cart {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ddecff;
    color: #006df0;
    border: 0;
    font-size: 20px;
}
hr {
    border: none;
    height: 2px;
    background-color:#d9d9d9;
    margin: 10px 20px; 
}
.header_quick-form {
    margin: 0 auto;
    display: flex;
    max-width: 1400px;
    gap: 30px;
}
.header_toolbox {
    align-items: center;
    gap: 5px;
}
.header_toolbox-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.main {
    background-color: #f2f7fe ;
}
.main_product-category {

    display: flex;
    justify-content: center;
}
.main_category-section {
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
 
}
.main_category-header {
    align-items: center;
    gap: 10px;
}
.main_category-icon {
   color: #006df0;
}
.main_category-text {
    color: #456ee7;
    font-weight: bold;
    font-size: 15px;


}
.main_product-section {
    height: 280px;
    max-height: 100%;
    overflow: auto;
    line-height: 25px;
}
.main_product-section::-webkit-scrollbar {
    width: 10px; /* Độ rộng của thanh cuộn */
}

.main_product-section::-webkit-scrollbar-track {
    background:#e1ecfd; /* Màu nền của track (phần nền của thanh cuộn) */
}

.main_product-section::-webkit-scrollbar-thumb {
    background: #456ee7; /* Màu của thumb (tay cầm trên thanh cuộn) */
    border-radius: 10px; /* Bo tròn các góc của thumb */
}
.main_product-item {
    font-size: 15px;
    color: #767676;

}
.main_orther-category {
    color: #456ee7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.main_promotion{
    width: 776.29px;
    height: 384.88px;
}
.main_demo {
    width: 383.6px;
height: 384.88px;
}
.main_product {
    gap:60px;
    margin-top: 20px;
    justify-content: center;
}
.main_product-form {
    background: white;
    align-items: center;
    width: 20%;
}

.main_product-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.main_flash-sale {
   
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
    height: 310px;
}
.main_button-product {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;   
    text-align: left;
    margin-left: auto;
    border-radius: 50px 50px 50px 50px;
    width: 87px;
    height: 37px;
}
.main_form-sale {
    position: relative;
    margin: 0px auto;
    display: flex;
    background-color: white;
}
.main_product-flash-sale {
    width: 98% ;
    align-items: center;
    background-color: #ffffff;
    justify-items: center;
    height: 210px;
    margin: 15px auto;
    gap: 20px;
}
.main_sale-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #22343E;
    cursor: pointer;
}
.main_sold-quantity {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #FF932E;
    float: right;

}
.main_sale-item {
    max-width: 16%;
    border: 1px solid #CDCDCD;
}
.main_flash-sale-prev{
    display: flex;
    justify-content: center;
    left: 0px;
    transform: translateX(-35px);
    position: absolute;
    background-color: #456ee7;
    width: 30px;
    height: 30px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    align-items:center; 
    justify-items:center; 
    border-radius:5px;
}
.main_flash-sale-next{
    display: flex;
    justify-content: center;
    right: 0px;
    transform: translateX(35px);
    position: absolute;
    background-color: #456ee7;
    width: 30px;
    height: 30px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    align-items:center; 
    justify-items:center; 
    border-radius:5px;
}
.main_hero {
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
}
.main_hero-item {
    width: 33%;
    cursor: pointer;
}
.main_smart-switching-equipment {
   
    margin-top: 20px;
}
.main_form-product {
    background-color: #ffffff;
    margin-top: 10px; 
    margin-bottom: 10px;
    justify-content: center;
}
.main_smart-device {
    background-color: #dde4fd;
    width: 16%;
    justify-items: center ;
}
.main_smart-device-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 130px;
    margin: 20px;
    cursor: pointer;
}
.main_button {
    background-color: #5c82e2;
    color: #ffffff;
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    margin: 20px;
    cursor: pointer;
}
.main_N3M2 {
    width: 16%;
    justify-items: center;
    border: 1px solid #CDCDCD;
}
.main_N3M2-title {
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
}
.main_N3M2-specifications {
    gap: 10px;
    color: #494849;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.main_N3M2-price {
    color: red;
}
.main_N3M2-original-price {
    color:  #9C9D9E;
    text-decoration: line-through;
}
.main_purchase-count {
    color: #747474;
    font-size: 12px;
}
.main_distributor-backgroud {
    display: flex;
    position: relative;
    height: 330px;
    margin-top: 200px;
 
  
}
.main_distributor-representative {
    position: absolute;
    bottom: 0px;
    left: 170px;
}
.main_distributor-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    position: absolute;
    top: 50px;
    left: 587px;
    width: 460px;
}
#introduce {
    line-height: 20px;
}
#btn-distributor {
    background-color: #e89848;
    border-radius: 20px 20px 20px 20px;
    width: 125px;
    height: 50px;
    border: 0px;
}
.main_quote-form {
    transform: translateY(50%);
    position: absolute;
    background-color: #ffffff;
    width: 460px;
    height: 550px;
    bottom: 157px;
    right: 250px;   
    border-radius: 10px 10px 10px 10px
}
.main_quote-form-header {
    margin: 40px;
}
.main_quote-form-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #22343E;
}
.main_form-text {
 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16.41px;
    text-align: left;
    color: #9C9D9E;
    max-width: 250px;
}
.main_quote-form-body {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.main_quote-form-body-text {
    font-size: 14px;
    width: 380px;
    height: 30px;
    border: 1px solid #B8B8B8;
}
#text-product {
    font-size: 14px;
    height: 30px;
    width: 200px;
    border: 1px solid #B8B8B8;
}
#text-quantity {
    font-size: 14px;
    height: 30px;
    width: 140px;
    border: 1px solid #B8B8B8;
}
#add-product {
    font-size: 14px;
    text-align: center;
    border: 2px dashed #B8B8B8;
    width: 385px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
}
.main_file-prroduct {
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 385px;
    height: 30px;
}
#btn-image {
    width: 86px;
    height: 46px;
    border-radius: 5px 5px 5px 5px;
    background: #F9F9F9;
    border: 1px solid #B8B8B8;
    cursor: pointer;
}
.main_file-prroduct-text {
    font-size: 14px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #747474;
}
#btn-send {
    margin: 20px;
    width: 385px;
    height: 40px;
    background-color: #456ee7;
    border: 0px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}
.main_genuine-accessories {
    margin-top: 150px;
    background-color: #ffffff;
  

}
.main_genuine-accessories-text {
    margin: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
font-style: italic;
font-weight: bold;
line-height: 25.78px;
text-align: left;
color: #22343E;
}
.main_accessories-button-item {
    border-radius: 25px 25px 25px 25px;
    height: 30px;
    border: 0px;
    cursor: pointer;
}
.main_accessories-text {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}
.main_accessories-item {
    border: 1px solid #CDCDCD
}
.main_accessories-name {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: bold;
text-align: left;
color: #22343E;
cursor: pointer;
}
.main_accessories-introduce{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    background: white;  
    font-family: Arial, Helvetica, sans-serif;
}
.main_news-events {
    margin-top: 20px;
}
.main_news-events-header {
    display: flex;
}
.main_news-events-text {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    line-height: 25.78px;
    text-align: left;
    color: #22343E;
}
.main_news-events-button {
    display: flex;
    margin-left: auto;
    gap: 10px;
    align-items: center;
}
.main_news-button-item {
    border-radius: 25px 25px 25px 25px;
    height: 30px;
    border: 0px;
    cursor: pointer;
}
.main_events-item {
    width: 25%;
    border: 1px solid #CDCDCD;
}
.main_events-button {
    margin: 10px;
    width: 152.14;
    height: 28px;
    padding: 6px 12px 6px 12px;
    gap: 10px;
    border-radius: 0px 0px 0px 0px;
    opacity: 0px;
    background: #DDECFF;
    color: #456ee7;
    border: 0px;
    cursor: pointer;
}
.main_events-name {
   margin: 10px;
    font-family: Arial, Helvetica, sans-serif   ;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #22343E;
    cursor: pointer;
}
.main_events-introduce {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif   ;
    font-size: 14px;
    text-align: left;
    color: #22343E;
}
.main_events-prev {
    display: flex;
    align-items:center; 
    justify-items:center; 
    border-radius:5px;
    position: absolute;
    cursor: pointer;
    transform: translateX(0px);
    left: 0px;
    top: 47%;
    width: 40px;
    height: 40px;
    background: #006DF0;
    text-align: center;
}
.main_events-next {
    display: flex;
    align-items:center; 
    justify-items:center; 
    border-radius:5px;
    position: absolute;
    cursor: pointer;
    transform: translateX(0px);
    right: 0px;
    top: 47%;
    width: 40px;
    height: 40px;
    background: #006DF0;
    text-align: center;
}
.main_news-button {
    display: flex;
}
.main_partner {
    margin-top: 20px;
    height: 250px;
}
.main_partner-text {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: 25.78px;
    text-align: left;
    background: linear-gradient(180deg, #FFFFFF 21.38%, #D1D1D1 88.33%);
    color: transparent;
    background-clip: text;
}
.main_partner-section{
    display: flex;
    gap: 20px;
    background: #ffffff;
    width: 1390px;
    position: relative;
    margin: 0 auto;
}
.main_partner-item {
    cursor: pointer;
}
.main_partner-prev {
    display: flex;
    align-items:center; 
    justify-items:center; 
    border-radius:5px;
    color: #ffffff;
        position: absolute;
        cursor: pointer;
        transform: translateX(-30px);
        left: 0px;
        top: 32%;
        width: 30px;
        height: 30px;
        background: #006DF0;
        text-align: center;
        padding: 5px;
}
.main_partner-next {
    display: flex;
    align-items:center; 
    justify-items:center; 
    border-radius:5px;
    color: #ffffff;
    padding: 5px;
    position: absolute;
    cursor: pointer;
    transform: translateX(27px);
    right: 0px;
    top: 32%;
    width: 30px;
    height: 30px;
    background: #006DF0;
    text-align: center;
}
.footer_icon-item {
    border-radius: 50%;
    border: 0px;
    width: 45px;
    height: 45px;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}
.footer_button-item {
    cursor: pointer;
    border: 0px;
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
}
.footer_branch-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: left;
}
.footer_branch-item {
    cursor: pointer;
    border: 0px;
    width: 30%;;
    background-color: #f6f8fe;
    padding: 16px;
}
.footer_branch-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #22343E;
}
.footer_branch-place {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #747474;
}
.footer_branch-hotline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #747474;
}
.footer_branch-map {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #747474;
}
.footer_customer-care-text {
font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
text-align: left;
color: #22343E;
}
.footer_policy-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: left;
    color: #22343E;
}
.footer_policy-item {
    gap: 10px;
    cursor: pointer;
    display: flex;
    height: 50px;
    width: 230px;
    border: 1px solid #CDCDCD;
    align-items: center;
    justify-content: center;    
}
.footer_policy-icon {
    font-size: 20px;
}
@media only screen and (min-width:350px) and (max-width:430px) {
    
}

